/* ================= MODO OSCURO ================= */

html.modo-oscuro{
    filter: invert(1) hue-rotate(180deg);

    background-color: #ffffff;
}

/* ================= LAS IMAGENES Y VIDEOS INVIERTEN SU COLOR ================= */
html.modo-oscuro img,
html.modo-oscuro video,
html.modo-oscuro picture,
html.modo-oscuro i{
    filter: invert(1) hue-rotate(180deg);
}

/* ================= TRANSICIÓN SUAVE ================= */
html{
    transition: filter 0.25s ease, background-color 0.25s ease;
}

/* ================= BOTON MODO OSCURO ================= */

#boton-modo-oscuro i{
    transition: 0.2s ease;
}
